*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
}

body{
	background-color: #fff;
}

.container{
	width: 100%;
	max-width: 1280px;
	margin: auto;
	padding: 30px 0px;
}

.header{
	width: 1280px;
	margin-bottom: 90px;
	display: flex;
}

.header_nav{
	position: absolute;
	width: 1168px;
	height: 36px;
	display: flex;
	justify-content: space-between;
}

.logo{
	margin-top: 40px;
	margin-left: 56px;
	width: 36px;
	height: 36px;
}

.div_navig{
	position: relative;
	display: flex;
}

.search{
	margin-top: 48px;
	position: absolute;
	right: 220px;
	width: 20px;
	height: 20px;
}

.shopping_cart{
	margin-top: 48px;
	position: absolute;
	right: 150px;
	width: 20px;
	height: 20px;
}

.sign_up{
	margin-top: 48px;
	position: absolute;
	right: 50px;
	white-space: nowrap;
	width: 52px;
	height: 20px;
	color: #156963;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.sign_in{
	margin-top: 40px;
	position: absolute;
	white-space: nowrap;
	width: 111px;
	height: 36px;
	padding: 8px 20px;
	background-color: #156963;
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 14px;
	line-height: 20px;
}

.photo1{
	width: 608px;	
}

.cube{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 672px;
	height: 582px;
	background-color: white;
}

.container1_cube{
	width: 523px;
	padding: 180.6px 0px;
	background-color: white;
}

h1{
	color: #156963;
	font-size: 68px;
}

.lorem{
	color: black;
	font-size: 18px;
}

.container2_cube{
	display: flex;
	width: 672px;
	height: 291px;
}

.kaktus_plant{
	width: 336px;
	height: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.strelka1{
	padding-right: 57px;
	text-decoration: none;
	font-size: 24px;
	color: black;
}

.text_kaktus_plant{
	font-size: 32px;
	color: #156963;
}

.rahasia_plant{
	width: 336px;
	height: 160px;
	background-color: #156963;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
}

.strelka2{
	padding-right: 120px;
	text-decoration: none;
	font-size: 24px;
	color: #F2F2F2;
}

.text_rahasia_plant{
	font-size: 32px;
	color: #F2F2F2;
}

.bot{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
	margin: auto;
	width: 1168px;
	height: 155px;
	background-color: #fff;
	margin-bottom: 90px;
}

.card{
	position: relative;
	width: 268px;
	height: 155px;
	background-color: #fff;
	border: solid;
	border-color: #E0E0E0;
	border-width: 1px;
}

.bibika{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 16px;
	top: 22px;
}

.fast_delivery{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 22px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #156963;
}

.lorem2{
	position: absolute;
	left: 16px;
	top: 86px;
	color: #2C1500;
	font-weight: 400;
	font-size: 10px;
	line-height: 16px;
}

.headphones{
	width: 42.19px;
	height: 48px;
	position: absolute;
	left: 18.91px;
	right: 20px;
	top: 22px;
}

.Great_Customer_Service{
	white-space: nowrap;
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 22px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #156963;
}

.original_plants{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 80px;
	top: 22px;
	font-weight: 700;
	font-size: 16px;
	line-height: 24px;
	color: #156963;
}

.dollar{
	position: absolute;
	width: 48px;
	height: 48px;
	left: 16px;
	top: 22px;
}

.Affordable_Price{
	position: absolute;
	top: 22px;
	left: 80px;
	color: #156963;
}

.body{
	width: 1168px;
	height: 352px;
	background-color: gray;
	margin: auto;
}

.card2{
	position: relative;
	width: 200px;
	height: 250px;
	background-color: #fff;
	border: solid;
	border-color: #E0E0E0;
	border-width: 1px;
}

.kaktys1{
	position: absolute;
	width: 200px;
	height: 250px;
	
}

.kaktys2{
	width: 200px;
	height: 250px;
}

.kaktys3{
	width: 200px;
	height: 250px;
}

.kaktys4{
	width: 200px;
	height: 250px;
}

.kaktys5{
	width: 200px;
	height: 250px;
}